<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(errormessage) {%>
                    <div class="user-message user-message--error">
                        <%= errormessage %>
                    </div>
                    <% }%>
                        <form class="login-form" action="/signup" method="POST" novalidate>
                            <div class="form-control">
                                <label for="email">E-mail</label>
                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                    type="email" name="email" id="email" value="<%= oldinput.email %>
                                    ">
                            </div>

                            <div class="form-control">
                                <label for="password"> Password</label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                    type="password" name="password" id="password" value="<%= oldinput.password %>">
                            </div>

                            <div class="form-control">
                                <label for="confirmpassword"> confirm password</label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'confirmpassword') ? 'invalid' : '' %>"
                                    type="confirmpassword" name="confirmpassword" id="confirmpassword"
                                    value="<%= oldinput.confirmpassword %>">
                            </div>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <button class="btn" type="submit">Sign up </button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>